.header {
  height: 20rem;
  width: 100%;
  background-size: cover;
  background-image: url('./assets/images/bg-mobile-dark.jpg');
}

.header-inner {
  display: flex;
  justify-content: space-between;
  padding: 4.2rem 2.2rem 0;
}

.header .title {
  color: var(--clr-white);
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 3rem;
}

.header .switch-theme-icon {
  width: 2rem;
  height: 2rem;
  margin-top: 1.2rem;
  cursor: pointer;
}

.header .show-dark-icon {
  display: none;
}

.light-theme .show-light-icon {
  display: none;
}

.light-theme .header {
  background-image: url('./assets/images/bg-mobile-light.jpg');
}

.light-theme .show-dark-icon {
  display: block;
}

@media screen and (min-width: 545px) {
  .header {
    min-height: 30rem;
    background-image: url('./assets/images/bg-desktop-dark.jpg');
  }

  .light-theme .header {
    background-image: url('./assets/images/bg-desktop-light.jpg');
  }

  .header-inner {
    max-width: 544px;
    margin: 0 auto;
    padding-top: 7.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .header .switch-theme-icon {
    height: 2.7rem;
    width: 2.7rem;
  }

  .header .title {
    letter-spacing: 1rem;
    font-size: 4rem;
  }
}
