.wrapper {
  background-color: var(--bg-secondary);
  border-bottom: 1px solid var(--clr-ternary);
  padding: 0 2rem;
  height: 5rem;
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
}

.wrapper.completed .title {
  text-decoration: line-through;
  color: var(--clr-ternary);
}

.wrapper.completed .complete {
  display: none;
}

.wrapper.completed .fully-complete {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  top: 1.3rem;
  background: var(--gradient);
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

.icon-check {
  width: 1rem;
  height: 1rem;
}

.title {
  margin-left: 3.2rem;
  color: var(--clr-primary);
  font-size: 1.2rem;
  padding-right: 1.8rem;
  cursor: pointer;
}

.complete {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--clr-ternary);
  border-radius: 50%;
  position: absolute;
  left: 2rem;
  top: 1.3rem;
  cursor: pointer;
}

.fully-complete {
  display: none;
}

.remove {
  cursor: pointer;
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}
